<!DOCTYPE html>
<html>
  <head>
    <title><%= loggedUser %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Syahid's Simple Express Demo</h1>
    <h2>Home Page</h2>
    <div>
      <a href="/users">User's Landing Page (userlanding.ejs)</a><br>
    </div>
    <div>
      <a href="/auth/login">Login</a><br>
    </div>
    <div>
      <a href="/auth/register">New user? Register here</a><br>
    </div>
  </body>
</html>
