<!DOCTYPE html>
<html>
  <head>
    <title>Authorized User 'Secret' Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Syahid's Simple Express Demo</h1>
    <h2>Secret Page - Authorized User Only</h2>
    <div>
      <h2>Hi <%= userdata.userSessionName %></h2>
      <h2>Your session ID is <%= userdata.userSessionID %></h2>
      <h2>Your session cookie will expire in <%= userdata.userCookie %></h2>
    </div>
    <div>
      <form id="logoutform" action="/auth/logout" method="POST">
          <!-- Your form fields here -->
      </form>
      <a href="" onclick="document.getElementById('logoutform').submit(); return false;">
          <div class="button-1 valign-text-middle roboto-medium-white-16px">
              Logout
          </div>
      </a>
    </div>
  </body>
</html>
